<header id="site-header">
    <div id="site-header-content">
        <h1>Shemmy a.k.a. Steven Hemmy</h1>
        <h2>Coder, Musician, Teacher</h2>
        <ul>
            <li> <a href="{% url 'blog:article' 'about' %}">About</a> </li>
            <li> <a href="{% url 'blog:article' 'about' %}">Blog</a> </li>
            <li> <a href="{% url 'blog:article' 'about' %}">Categories</a> </li>
            {% for item in page_items %}
            <li> <a href="{% url 'blog:article' item.blog.slug %}">{{ item.blog.title }}</a> </li>
            {% endfor %}
        </ul>
    </div>
</header>
